<div class="graph-controls">
	<div class="graph-field">
		<label>Group By</div>
		<select id="groupBy">
			<option>Daily</option>
			<option>Weekly</option>
			<option>Monthly</option>
			<option>Yearly</option>
		</select>
	</div>
	<div class="graph-field">
		<label>Start Date</div>
		<input type="date" id="startDate">
	</div>
	<div class="graph-field">
		<label>End Date</div>
		<input type="date" id="startDate">
	</div>
</div>

<div class="analytics-graphs">
	<div class="visitChart">
		<canvas id="visitChart"></canvas>

	</div>
	<div class="pageViewChart">
		<canvas id="pageViewChart"></canvas>

	</div>
	<div class="salesChart">
		<canvas id="salesChart"></canvas>
	</div>
</div>
