<div class="grid-controls">
	<div class="grid-control">
		<label>Select Site</label>
		<select disabled>
			<option selected>All Stuff 420</option>
		</select>
	</div>
	<div class="grid-control">
		<label>Filter by category</label>
		<select id="categorySelect" disabled>
			<option value="">Loading Categories..</option>
		</select>
	</div>
	<div class="grid-control">
		<label>Filter by Tags</label>
		<select id="tagSelect" disabled>
			<option value="">Loading Tags..</option>
		</select>
	</div>
	<div class="grid-control">
		<label>Price Range

		</label>
		<div class="price-range">
			<input id="minPrice" placeholder="Min">
			<input id="maxPrice" placeholder="Max">
		</div>
	</div>
	<div class="grid-control">
		<label>Search</label>
		<input id="nameSearch" placeholder="Product Name">
	</div>
	<div class="grid-control">
		<label>Order</label>
		<select id="orderSelect">
			<option value="">Select Order</option>
			<option value="asc">ASC</option>
			<option value="desc">DESC</option>
		</select>
	</div>
	<div class="grid-control">
		<label>Product Per Page</label>
		<select id="perPage">
			<option value="6">8</option>
			<option value="12" selected>12</option>
			<option value="15">16</option>
			<option value="18">20</option>
			<option value="21">21</option>
			<option value="24">24</option>
		</select>
	</div>
	<div class="grid-control">
		<label>ACTION</label>
		<button id="applyFilter">APPLY FILTER <div class="custom-spin-loader mini" style="display:none"></div></button>
	</div>
</div>
