<div class="account-plan-details">
	<div class="current-plan-selected">
		Current Plan
		{{ 'QRX Dispensary Basic Plan' }} (<a onclick="changePlan()">Click here to upgrade</a>)
	</div>

</div>
<div class="product-counts">
    
	<div class="current-plan-max-products">
		Total Products Allowed
		({{ max_products }})
	</div>
	<div class="current-plan-max-products">
		Number of Products added
		(<span id="added_products_count">{{ cart_count + imported_products_count }}</span>)
	</div>
	<div class="current-plan-max-products">
		Remaining Allowed Product
		(<span id="remaining_products_count">{{max_products - (cart_count + imported_products_count) }}</span>)
	</div>
</div>