<label style="display:block;width:100%;margin-bottom:5px; font-weight:bold;">Dispensary Product Limit</label>
<input style="display:block;width:100%;margin-bottom:10px;" type="number" placeholder="Dispensary Product Limit" name="dispensary_product_limit">