<div class="qrx-admin-input-group">
	<p>SELECTED
		{{ selected }}</p>
	<label>Site Template</label>
	<select name="template_site_id">
		{% for site in site_template_map %}
			<option value="{{site.blog_id}}" {{ selected == site.blog_id ? 'selected' :'' }}>{{ site.domain }}</option>
		{% endfor %}


	</select>
</div>
