.wc_payment_methods.payment_methods,
#woocommerce-info {
  display: none;
}
#order_review_heading {
  display: block;
}
.woocommerce-page.woocommerce-checkout form #order_review_heading,
.woocommerce.woocommerce-checkout form #order_review_heading {
  border: none;
  font-weight: 700;
  padding: 15px 0;
}
.woocommerce form.woocommerce-checkout span.description {
  display: block !important;
  font-size: 13px;
}
.template-preivew-container p.template-preivew-p {
  margin-bottom: 0px;
}
.template-preivew-container span {
  font-size: 13px;
  margin-bottom: 5px;
}
.template-image {
  margin: 0 auto 20px;

  max-width: 300px;
}

.template-selection {
  padding: 10px;
}

.template-selection-heading {
  font-size: 16px;
  margin-bottom: 10px;
}

.template-image {
  margin: 0 auto 20px;
  max-width: 300px;
}

.post-5785 .entry-header {
  margin-top: 40px;
}
.post-5785 .entry-header h1 {
  font-size: 40px;
}

#templatePreview {
  max-width: 300px;
  padding-bottom: 25px;
}

.woocommerce-billing-fields > h3 {
  font-size: 30px !important;
  font-weight: bold;
}

label[for="account_username"]:before {
  content: "Account Information";
  display: block;
  font-weight: normal;
  margin: 0 0 30px;
  font-size: 24px;
  border-bottom: 2px solid #aaa;
}

#_wc_memberships_profile_field_business_document_field:after {
  display: block;
  content: "Billing Information";
  display: block;
  font-weight: normal;
  margin: 50px 0 0px;
  font-size: 24px;
  border-bottom: 2px solid #aaa;
}

#order_review {
  border: 1px solid #ebebeb !important;
}

/*ADDED*/
#formCheckoutSubmitFormBottom .woocommerce-privacy-policy-text {
  display: none;
}
#formCheckoutSubmitFormBottom {
  margin-top: 25px;
}
#formCheckoutSubmitFormBottom label {
  line-height: 2;
  font-weight: 700;
  font-size: 13.5px;
  font-size: 0.9rem;
}
#formCheckoutSubmitFormBottom table.shop_table td,
#formCheckoutSubmitFormBottom table.shop_table td {
  padding: 10px 10px 10px 10px;
}
/*END ADDED*/
