@charset "UTF-8";
.product-import-container {
  margin: 40px auto !important;
  font-family: "Roboto", sans-serif;
}
.product-importer-grid {
  margin: 0 !important;
  max-width: none !important;
  font-family: "Roboto", sans-serif;
}

.product-importer-grid {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}
.product-importer-grid > .product-item {
  flex: 0 1 180px;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transform: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  transform: all 0.3s ease-in-out;
  margin: 0 15px 15px;
}
.product-importer-grid > .product-item .product-image {
  position: relative;
  width: 100%;
  height: 160px;
  overflow:hidden;
}

.product-importer-grid > .product-item .product-image > .tags {
  position: absolute;
  font-size: 10px;
  top: 0;
  left: 0;
  font-size: 10px;
  padding: 5px 5px;
  background: red;
  color: #fff;
}
.product-importer-grid > .product-item .product-name {
  position: relative;
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  color: #212121;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-importer-grid > .product-item .product-price {
  margin: 2px 0;
  font-size: 15px;
  color: #f57224;
}
.product-importer-grid > .product-item .product-sku--rating {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-importer-grid > .product-item .product-sku--rating .product-sku {
  font-size: 13px;
  color: #999;
}
.product-importer-grid > .product-item .product-sku--rating .product-rating {
  font-size: 14px;
  color: gold;
}
.product-importer-grid
  > .product-item
  .product-sku--rating
  .product-rating
  > .star.solid:after {
  content: "★";
}
.product-importer-grid
  > .product-item
  .product-sku--rating
  .product-rating
  > .star:after {
  content: "☆";
}
.product-importer-grid > .product-item .product-actions {
  line-height: 0;
  margin: 2px 0;
}
.product-importer-grid > .product-item .product-actions .action {
  font-size: 13px;
  font-weight: normal;
  width: 100%;
  padding: 5px 0;
  border-radius: 0;
}
.product-importer-grid > .product-item .product-actions .action.add {
  background: #61ce70;
}
.product-importer-grid > .product-item .product-actions .action.remove {
  background: orange;
}
.product-importer-grid > .product-item .product-source {
  font-size: 10px;
  margin: 5px 0 0;
  text-transform: uppercase;
}
.product-importer-grid > .product-item .product-source a {
  text-decoration: none;
}
.grid-controls {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.grid-controls .grid-control {
  margin-bottom: 20px;
  flex: 0 1 200px;
  margin-right: 20px;
}
.grid-controls .grid-control label {
  display: block;
  font-size: 12px;
  line-height: 1;
  margin: 0 0 5px;
  text-transform: uppercase;
  color: #999;
}
.grid-controls .grid-control {
  text-transform: capitalize;
}
.grid-controls .grid-control select,
.grid-controls .grid-control input {
  font-size: 13px;
  line-height: 1;
  font-family: inherit;
  width: 100%;
  display: block;
  padding: 5px 2px;
}
.grid-controls .grid-control button#applyFilter {
  font-size: 13px;
  padding: 8px 0;
  display: block;
  width: 100%;
  font-weight: normal;
}
.grid-controls .grid-control .price-range {
  display: flex;
}
.grid-controls .grid-control .price-range input:first-child {
  margin-right: 5px;
}
.grid-controls .grid-control .price-range input:last-child {
  margin-left: 5px;
}

.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details {
  display: flex;
  line-height: 1;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-item-image {
  max-width: 100px;
  margin-right: 10px;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-item-image
  img {
  width: 100%;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc {
  width: 350px;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .name {
  font-size: 16px;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .price {
  font-size: 16px;
  color: #f57224;
  margin: 2px 0 5px;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .tags,
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .categories {
  text-transform: uppercase;
  font-size: 10px;
  color: #9a9a9a;
  margin: 5px 0;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .source-site {
  font-size: 12px;
  text-transform: uppercase;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .source-site
  a {
  color: #0073aa;
  text-decoration: none;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .sku--rating {
  display: flex;
  justify-content: space-between;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .sku--rating
  .sku {
  font-size: 10px;
  color: red;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .sku--rating
  .rating {
  font-size: 13px;
  color: gold;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .sku--rating
  .rating
  > .star.solid:after {
  content: "★";
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details
  .product-cart-desc
  .sku--rating
  .rating
  > .star:after {
  content: "☆";
}

.product-import-container .product-import-cart-list .product-cart-item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.product-import-container
  .product-import-cart-list
  .product-cart-item:last-child {
  border-bottom: none;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-details {
  max-width: 480px;
  padding-right: 20px;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-action {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-around;
  align-items: center;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-action
  .new-listing-price {
  max-width: 200px;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-action
  .new-listing-price
  label {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-action
  .new-listing-price
  input {
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  display: block;
  padding: 3px 12px;
  text-align: center;
}
.product-import-container
  .product-import-cart-list
  .product-cart-item
  .product-cart-item-action
  .listing-action
  > button {
  font-weight: normal;
  border-radius: none;
  background: red;
  font-size: 16px;
  padding: 5px 20px;
}

.srp,
.estimated-profit {
  font-size: 10px !important;
  margin: 0 !important;
  color: #999;
  text-align: center;
  text-transform: Uppercase;
}

#cart-empty h2 {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  font-size: inherit;
}

.custom-spin-loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid green; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 100px auto;
  animation: spin 2s linear infinite;
}
.custom-spin-loader.mini {
  border: 2px solid #f3f3f3 !important; /* Light grey */
  border-top: 2px solid green !important; /* Blue */
  width: 20px;
  height: 20px;
  margin: 0 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    border-width: 20px;
  }
  100% {
    border-width: 10px;
    transform: rotate(360deg);
  }
}

.page-controls {
  display: flex;
  padding: 0 0 10px;
  margin: 0px 0 20px;
}
.page-controls:first-child {
  border-bottom: 1px solid #ccc;
}
.page-controls a {
  text-transform: uppercase;
  text-decoration: none !important;
  border:1px solid #555;
  background: #ccc;
  padding: 3px 18px;
  border-radius: 20px;
  margin-right: 20px;
  font-size: 13px;
  color: #000;
}
.page-controls a:hover,
.page-controls a.active {
  background: #0073aa;
  color: #fff;
}

.grid-pagination {
  margin-top: 20px;
  display: inline-block;
}

.grid-pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s;
  border-radius: 0 !important;
  background: #eee;
  font-weight: normal;
  font-size: 15px;
}

.grid-pagination button.active {
  background-color: #4caf50;
  color: white;
}

.enlist-actions {
  justify-content: space-between;
  display: flex;
}
.enlist-actions button[type="submit"] {
  font-size: 15px;
  font-weight: normal;
  background: #229d44;
  padding: 3px 20px;
  border-radius: none;
}
.enlist-actions a {
  font-size: 15px;
  font-weight: normal;
  background: #0073aa;
  padding: 3px 20px;
  color: #fff !important;
  border-radius: none;
  text-decoration: none !important;
}

#cart-empty {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 20px 0;
  min-height: 400px;
}
#cart-empty > h2:before {
  display: none;
}

#importButton.loading {
  background-color: #222;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #229d44;
  }
  100% {
    background-color: #333;
  }
}

.product-import-container {
  max-width: 900px;
}

#applyFilter,
.product-actions button {
  display: flex !important;
  justify-content: center;
}
#applyFilter .custom-spin-loader,
.product-actions button .custom-spin-loader {
  margin: 0 0 0 8px;
  width: 16px;
  height: 16px;
}

#gridNext:hover,
#gridPrev:hover,
#gridNext:active,
#gridPrev:active {
  background: #4caf50;
  color: #fff;
}

.product-import-container {
  max-width: 900px !important;
}

.account-plan-details {
  display: flex;
  flex-wrap: wrap;
}
.account-plan-details > div:first-child {
  font-size: 18px;
  font-weight: normal;
}

.product-counts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.product-counts > div {
  flex: 0 1 auto;
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  margin: 0 20px 0 0;
}
.product-counts > div span {
  color: red;
}
.price-controls {
  margin-top: 20px;
}
.price-controls .price-round {
  font-size: 15px;
  font-weight: normal;
  padding: 8px;
  background: #229d44;
}
