<div style="background:#fff; max-width: 720px; margin:0 auto;">
    <div style="background: url('https://qrxdispensary.com/wp-content/uploads/2021/03/Headlines.png'); height: 245px; background-size: cover;">

    </div>
	<div style="text-align:center; font-family:sans-serif; font-size:22px; padding:20px; margin-top: 25px;">
		Dispensary Site Creation Report
	</div>
    <br>
	<div style="font-family:sans-serif; font-size:16px; padding:20px 30px; line-height:25px; margin-bottom: 25px;">
        Hi {{ user.display_name}},
        <br>
        Your website is now ready! Thank you for choosing QRx Dispensary Solutions. You can <a href="http://{{domain}}">log-in to your account</a> and customize it according to your preferences. 
        <br/><br/>
        If you want to know more about the features of our other plans you can check them <a href="http://qrxdispensary.com/services-and-packages/">here</a>. 
        <br/><br/>
        For any questions or concerns, you can reach out to our team at <a href="mailto:virtualassistant@qrxdispensary.com;"></a>virtualassistant@qrxdispensary.com</a>. Thank you!
	</div>
    <br>
    <div style="background: url('https://qrxdispensary.com/wp-content/uploads/2021/03/bg-footer-email.png'); height: auto; background-size: cover; padding: 60px 25px; display: flex; justify-content: space-around;">
        <div style="">
            <div style="font-size: 20px; font-weight: 600; color: #ffffff; text-align: center; margin-bottom: 10px; text-transform: uppercase;">
                Follow Us For More Updates
            </div>
            <div style="display: inline-block; text-align: center;">
                <a href="#"><img src="https://qrxdispensary.com/wp-content/uploads/2021/03/icon-4.png" style="height: auto; width: 5%; margin: 0 15px;"></a>
                <a href="#"><img src="https://qrxdispensary.com/wp-content/uploads/2021/03/icon-3.png" style="height: auto; width: 5%; margin: 0 15px;"></a>
                <a href="#"><img src="https://qrxdispensary.com/wp-content/uploads/2021/03/icon-2.png" style="height: auto; width: 5%; margin: 0 15px;"></a>
                <a href="#"><img src="https://qrxdispensary.com/wp-content/uploads/2021/03/icon-1.png" style="height: auto; width: 5%; margin: 0 15px;"></a>
            </div>
        </div>
    </div>
	<div style="background:#2F73BA; padding:10px 0; color:#fff; font-size: 12px; text-align:center; font-family:sans-serif; font-weight: 400;">
		2021 © Copyright | Powered By
		<a href="http://www.qrxdigital.com" style="color:#fff;">QRx Digital Sales and Marketing Services</a>
		| All Rights Reserved
	</div>
</div>
