<div style="background:#fff; max-width:720px; margin:0 auto;">
	<div style="background:#2F73BA;padding:25px 0; color:#fff; text-align:center;">
		<img src="https://qrxdispensary.com/wp-content/uploads/2020/11/logo.png" height="80px">
	</div>
	<div style="text-align:center; font-family:sans-serif; font-size:22px; padding:20px;">
		Dispensary Site Creation Report
	</div>
    <br>
	<div style="font-family:sans-serif; font-size:16px; padding:20px 30px; line-height:25px;">
        Hi {{ user.display_name}},
        <br>
		Congratulations your website is now up and running. Click <a href="http://{{domain}}">here</a> to view your website.
		To start customizing and importing products now at <a href="https://qrxdispensary.com/my-account">QRX Dispensary</a>
	</div>
    <br>
	<div style="background:#2F73BA;padding:25px 0; color:#fff; text-align:center; margin-top:50px; font-family:sans-serif; ">
		2021© Copyright | Powered By
		<a href="http://www.qrxdigital.com" style="color:#fff;">QRx Digital Sales and Marketing Services</a>
		| All Rights Reserved
	</div>
</div>
