<div class="product-import-container">
	{% include 'template-parts/plan-details.twig' %}
	{% include 'template-parts/page-controls.twig' %}
	
	<form id="productImportForm">
		<div class="enlist-actions">
			<button type="submit" id="importButton">Enlist Products to Dispensary</button>
			<a href="{{gird_url}}">Add More Products</a>
		</div>
		<div class="product-import-cart-list" id="importCartItems">
			<div class="custom-spin-loader"></div>
		</div>

		<div id="cart-empty" style="display:none">
			<h2>Your listing cart is currently empty. Please add products to import</h2>
		</div>
	</form>
	<div class="price-controls">
		<button class="price-round" onclick="roundOffPrices()">Round up all prices to nearest ¢.99</button>
	</div>
</div>
