<div class="product-import-container">
	{% include 'template-parts/gerome-sample-design.twig' %}
	<!-- <h1>Available Products</h1>
	{% include 'template-parts/plan-details.twig' %} -->
	{% include 'template-parts/page-controls.twig' %}
	{% include 'template-parts/grid-controls.twig' %}
	<div class="product-importer-grid" id="product-importer-grid">
		<div class="custom-spin-loader"></div>
	</div>

	<div class="grid-pagination">
		<button id="gridPrev">
			Prev
		</button>
		<button id="currentPage" class="active">1</button>
		<button id="gridNext">
			Next
		</button>
	</div>

</div>
