<div class="product-import-container">
    <div class="view-products">View Products Added (<span id="product_added_count">0</span>)</div>
	{% include 'template-parts/grid-controls.twig' %}
	<div class="product-importer-grid" id="product-importer-grid"></div>
</div>
