<div class="file-upload">
	<label>Attach Document*</label><br>
	<input required="true" type="file" name="business_information" id="business_information" placeholder="Business Permit" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
				text/plain, application/pdf, image/*">
	<p>Kindly upload your dispensary business permit below. Accepted Files are PNG, JPG, DOCX, DOC, and PDF Files Only.</p>
</div>
