<div class="file-upload">
    <label>Attach Document*</label>
    <input type="file" name="business_information" placeholder="Business Permit">
    <p>Kindly upload your dispensary business permit below. Accepted Files are PNG, JPG, DOCX, DOC, and PDF Files Only.</p>
</div>